.root {
  position: absolute;
  left: 24px;
  top: 689px;
  width: 318px;
  height: 68px;
  align-items: flex-start;
}
.rectangle124 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 90px;
  background-color: #1d1d1d;
}
.vector {
  position: absolute;
  left: 82.0755%;
  right: 11.1985%;
  top: 32.3529%;
  bottom: 33.8235%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.signUp {
  color: #fff;
  font-size: 24px;
  line-height: 130%;
  font-family: Numans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.3836%;
  right: 21.6981%;
  top: 29.4118%;
  bottom: 30.8824%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
